body {
    background-color: #aae6e8;
}

h1 {
    margin-left: 40%;
    background-color: brown;
}

h2{
    margin-left: 40%;
    background-color: green;
}

p{
    margin-left: 45%;
    background-color: rgb(239, 227, 229);
}